.headers {
  color: aqua;
  display: -ms-grid;
  display: grid;
  grid-column: 1/-1;
  -ms-grid-row: 1;
  grid-row: 1/1;
  background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 0.603)), to(rgba(214, 127, 175, 0.555))), url(/img/headerpic.jpg);
  background-image: linear-gradient(to left top, rgba(0, 0, 0, 0.603), rgba(214, 127, 175, 0.555)), url(/img/headerpic.jpg);
  background-size: cover;
  background-position: center;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -ms-grid-columns: (minmax(min-content, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(-webkit-min-content, 1fr));
      grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
}

.heading {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 70px;
  font-weight: 300;
  font-family: cursive;
  color: #f58dc8;
}

.heading_paragraph {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-size: 20px;
  font-weight: 300;
  font-family: cursive;
  color: #f6b3e2dc;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header_btn:link,
.header_btn {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  font-size: 20px;
  font-weight: 300;
  font-family: cursive;
  color: #ecd3ea;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  text-shadow: 0px 10px 20px #e711c4;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
}

.header_btn:hover,
.header_btn:active {
  color: #f58dc8;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  text-shadow: 0px 0px 5px #0f0f0f;
}

.login {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  background-color: #f4eaf6;
  -ms-grid-columns: (1fr)[4] 10vw 20vw 1fr 10vw;
      grid-template-columns: repeat(4, 1fr) 10vw 20vw 1fr 10vw;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.login_heading {
  font-size: 50px;
  font-family: 'quinka', sans-serif;
  font-weight: 300;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #f77991;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.login_paragraph {
  font-size: 15px;
  font-family: cursive;
  font-weight: 200;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 3;
  grid-row: 3/3;
}

.login_form {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 0.808)), to(#d67faf)), url(/img/love.jpg);
  background-image: linear-gradient(to left top, rgba(0, 0, 0, 0.808), #d67faf), url(/img/love.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3rem;
  -webkit-box-shadow: 0 20px 30px black;
          box-shadow: 0 20px 30px black;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.input {
  height: 2rem;
  background-color: #ffafbc;
  border: none;
}

.label-writing {
  font-size: 25px;
  font-family: 'quinka', sans-serif;
  margin-left: -3rem;
  padding-bottom: .5rem;
  color: #131212;
}

.space {
  letter-spacing: 2px;
  font-weight: 500;
}

.check {
  font-size: 20px;
  color: #c51c1c;
}

.font {
  font-size: 10px;
  padding-right: 1rem;
  color: whitesmoke;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-l:link,
.btn-l:visited {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 4;
  grid-row: 4/4;
  font-size: 10px;
  font-weight: 300;
  font-family: cursive;
  color: #0a0a0a;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #ffafbc;
  padding: .3rem 1rem;
}

.btn-l:hover,
.btn-l:active {
  background: #ec97a5;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.login_img {
  height: 10vh;
  -ms-grid-row: 4;
  grid-row: 4/4;
  grid-column: 1/-1;
  width: 100%;
}

.comments {
  color: #f7e8e8;
  grid-column: 1/-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20vh 30vh 20vh 50vh;
      grid-template-rows: 20vh 30vh 20vh 50vh;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  background-color: #f4eaf6;
}

.user_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video_story {
  grid-column: 1/-1;
  grid-row: 3/-1;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .3;
  z-index: 1;
}

.video {
  width: 100%;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.user_pic {
  width: 50%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  height: 20vh;
  justify-self: flex-end;
  border-radius: 100px;
}

.user_comment {
  color: black;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-color: #f4eaf6;
  z-index: 10000;
  opacity: 1;
  width: 70%;
  height: 20vh;
  border-radius: 50px;
  padding: 3rem;
}

.pic2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.comment2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.slider__btn--left {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  height: 10vh;
  width: 10vw;
  justify-self: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 1000;
  font-size: 50px;
}

.slider__btn--right {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  height: 10vh;
  width: 10vw;
  justify-self: flex-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 1000;
  font-size: 50px;
}

.see_more {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  z-index: 100;
  color: #f4eaf6;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.story {
  color: cornsilk;
  grid-column: 1/-1;
  display: -ms-grid;
  display: grid;
  background-color: #f4eaf6;
  -ms-grid-columns: 10vw  20vw 30vw 30vw 15vw;
      grid-template-columns: 10vw  20vw 30vw 30vw 15vw;
  -ms-grid-rows: 10vh (20vh)[6];
      grid-template-rows: 10vh repeat(6, 20vh);
  grid-gap: 15px;
  padding-top: 3rem;
}

.story_heading {
  font-size: 40px;
  color: black;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #ffc8f4;
  padding: .3rem 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: rotateX(5deg);
          transform: rotateX(5deg);
  margin-bottom: 10rem;
  margin-top: 10rem;
}

.hm {
  color: black;
  background-color: black;
}

.couple_img {
  -o-object-fit: cover;
     object-fit: cover;
}

.story_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 200px;
  height: 40vh;
}

.couple_img-1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.couple_img-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
  height: 50vh;
}

.couple_img-3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 6;
  grid-row: 6/6;
  -o-object-fit: cover;
     object-fit: cover;
}

.height_img {
  height: 40vh;
}

.couple_story {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.couple_story1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  background-color: #f6efee;
  -webkit-box-shadow: 0px 2rem 2rem black;
          box-shadow: 0px 2rem 2rem black;
}

.couple_story2 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  background-color: #f6efee;
  -webkit-box-shadow: 0px 2rem 2rem black;
          box-shadow: 0px 2rem 2rem black;
}

.couple_story3 {
  grid-row: 6/-1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  background-color: #f6efee;
  -webkit-box-shadow: 0px 2rem 2rem black;
          box-shadow: 0px 2rem 2rem black;
}

.date {
  font-size: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.name {
  color: black;
  font-size: 20px;
}

.story_lines {
  color: black;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem 1rem;
}

.footers {
  background-image: url(/img/23294.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  color: bisque;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  grid-row: 5/-1;
  -ms-grid-rows: 20vh 40vh 10vh;
      grid-template-rows: 20vh 40vh 10vh;
  -ms-grid-columns: 10vw 1fr 10vw;
      grid-template-columns: 10vw 1fr 10vw;
}

.navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.navi-list {
  padding: 2rem;
  list-style: none;
}

.navi-btn {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: gold;
  font-weight: bolder;
  display: block;
  text-decoration: none;
}

.navi-btn:hover {
  background: #fffdfd;
  color: goldenrod;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  -webkit-transform: scale(1.35) rotate(5deg);
          transform: scale(1.35) rotate(5deg);
}

.paragraph-f {
  justify-self: flex-end;
  margin-left: 12rem;
  display: block;
  color: #fdfafa;
  font-size: 20px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 971px) {
  .paragraph-f {
    justify-self: flex-end;
    margin-left: 0;
    margin-top: 2rem;
  }
}

.blog {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  justify-self: center;
}

.blog-img {
  padding: 2rem;
  width: 10vw;
  height: 15vh;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 70%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.2;
  font-size: 15px;
  font-weight: 500;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 120vh  70vh  160vh 130vh  60vh;
      grid-template-rows: 120vh  70vh  160vh 130vh  60vh;
  -ms-grid-columns: (minmax(15rem, 1fr))[5];
      grid-template-columns: repeat(5, minmax(15rem, 1fr));
}
/*# sourceMappingURL=main.css.map */