.headers {
  color: aqua;
  display: -ms-grid;
  display: grid;
  grid-column: 1/-1;
  -ms-grid-row: 1;
  grid-row: 1/1;
  background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 0.603)), to(rgba(214, 127, 175, 0.555))), url(/img/headerpic.jpg);
  background-image: linear-gradient(to left top, rgba(0, 0, 0, 0.603), rgba(214, 127, 175, 0.555)), url(/img/headerpic.jpg);
  background-size: cover;
  background-position: center;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
}

.heading {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 70px;
  font-weight: 300;
  font-family: cursive;
  color: #f58dc8;
}

.heading_paragraph {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-size: 20px;
  font-weight: 300;
  font-family: cursive;
  color: #f6b3e2dc;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header_btn:link,
.header_btn {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  font-size: 20px;
  font-weight: 300;
  font-family: cursive;
  color: #ecd3ea;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  text-shadow: 0px 10px 20px #e711c4;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
}

.header_btn:hover,
.header_btn:active {
  color: #f58dc8;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  text-shadow: 0px 0px 5px #0f0f0f;
}

@media (max-width: 758px) {
  .heading {
    font-size: 40px;
  }
  .heading_paragraph {
    font-size: 15px;
  }
}

.login {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  background-color: #f4eaf6;
  -ms-grid-columns: (1fr)[4] 10vw 20vw 1fr 10vw;
      grid-template-columns: repeat(4, 1fr) 10vw 20vw 1fr 10vw;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.login_heading {
  font-size: 50px;
  font-family: "quinka", sans-serif;
  font-weight: 300;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #f77991;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.login_paragraph {
  font-size: 15px;
  font-family: cursive;
  font-weight: 200;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 3;
  grid-row: 3/3;
}

.login_form {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 0.808)), to(#d67faf)), url(/img/love.jpg);
  background-image: linear-gradient(to left top, rgba(0, 0, 0, 0.808), #d67faf), url(/img/love.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3rem;
  -webkit-box-shadow: 0 20px 30px black;
          box-shadow: 0 20px 30px black;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.input {
  height: 2rem;
  background-color: #ffafbc;
  border: none;
}

.label-writing {
  font-size: 25px;
  font-family: "quinka", sans-serif;
  margin-left: -3rem;
  padding-bottom: 0.5rem;
  color: #131212;
}

.space {
  letter-spacing: 2px;
  font-weight: 500;
}

.check {
  font-size: 20px;
  color: #c51c1c;
}

.font {
  font-size: 10px;
  padding-right: 1rem;
  color: whitesmoke;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-l {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 4;
  grid-row: 4/4;
  font-size: 10px;
  font-weight: 300;
  font-family: cursive;
  color: #0a0a0a;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #ffafbc;
  padding: 0.3rem 1rem;
  cursor: pointer;
}

.btn-l:hover {
  background: #ec97a5;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.login_img {
  height: 10vh;
  -ms-grid-row: 4;
  grid-row: 4/4;
  grid-column: 1/-1;
  width: 100%;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 60rem;
  background: -webkit-gradient(linear, right bottom, left top, from(#ba5370), to(#f4e2d8));
  background: linear-gradient(to left top, #ba5370, #f4e2d8);
  padding: 5rem 6rem;
  -webkit-box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 100;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
  color: black;
  font-family: cursive;
}

.modal__form {
  margin: 0 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.btn-popup {
  border: none;
  font-size: 20px;
  padding: 0.4rem 0.5rem;
  text-shadow: 0rem 2rem 2rem #9e9292;
  background: none;
  color: #1b1a1a;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-popup:hover {
  -webkit-transform: translateY(0.3px);
          transform: translateY(0.3px);
  color: #fadcdc;
}

@media (max-width: 820px) {
  .login_form {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }
}

@media (max-width: 1023px) {
  .login_heading {
    font-size: 30px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    padding-left: 2rem;
  }
  .login_paragraph {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    font-size: 15px;
    padding-right: 1rem;
    padding-left: 2rem;
  }
  .login_form {
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4/8;
  }
}

@media (max-width: 1225px) {
  .modal__header {
    font-size: 2.5rem;
  }
  .btn-popup {
    grid-column: 1/-1;
  }
  .modal__form label {
    width: 100%;
  }
}

/*<div class="couple_story couple_story1">
<h4 class="name">ujjawal & priyanshi </h4>
<p class="story_lines">hey!!! i  am ujjawal ,i  met my girl on facebook  ,ipropsed her on insta our relationship  was long distance and we were loyal for each other i was  very possesive for her  i was a toxic boyfriend it was the reason of our breackup after the breackup no girl came in my life but in  2022 i again came relationship with priyanshi  but for her it was timepass anf for me she is everything we cannot be for eachother but i will love her  forever... <span class="date">28 march 2022</span>
  <a  class="header_btn hm" id="btni"> READ STORY  &#10132</a>
</p>
</div>
<figure class="couple_img couple_img-1">
<img src="img/pic1.jpg" alt="p" class="story_img">
</figure>


<div class="couple_story couple_story2">
<h4 class="name">martin & ema</h4>
<p class="story_lines">hey i am ema,so i will talk about how i met so i met to martin in my  aunt house he was 6 feet tall  and a musculer men whent i firstly met him i was fall in love with him he is a boxer and a sexy men!!! i like her tattoos but our journey  was not easy we faced many unneccesary trouble but now finally  we are living together and loving together he cares for me he loves 
  <span class="date">01 march 2022 </span>
  <a class="header_btn hm" id="btn2"> READ STORY  &#10132</a>
  </p>
</div>

<figure class="couple_img couple_img-2">
<img src="img/pic18.jpg" alt="p" class="story_img">
</figure>


<div class= "couple_story couple_story3">
<h4 class="name">Alex & jenny</h4>
<p class="story_lines">alex was from australia and jenny was from england they met on goa beach.jenny was in black bikni when i saw her  then suddenly my heart says that bro she is for you i went to closer to her and said hey what is your name she replied she is jenny lucifer and asked my name i proposed her for coffee then she agreed and we went to cafe french there i asked to her about that  she is single or commited then she.. 
  <span class="date">17 march 2022</span> 
  <a class="header_btn hm" id="btn3"> READ STORY &#10132</a>
</p>

</div>

<figure class="couple_img couple_img-3">
<img src="img/pic12.jpg" alt="p" class="story_img height_img">
</figure>*/
.comments {
  color: #f7e8e8;
  grid-column: 1/-1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20vh 30vh 20vh 10vh;
      grid-template-rows: 20vh 30vh 20vh 10vh;
  -ms-grid-columns: 10vw 1fr 10vw;
      grid-template-columns: 10vw 1fr 10vw;
  position: relative;
}

.video_story {
  grid-column: 1/-1;
  grid-row: 1/-1;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .5;
  z-index: 0;
}

.video {
  width: 100%;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.user_comment {
  color: black;
  background-color: #f1a5d88c;
  z-index: 1;
  opacity: 1;
  width: 40%;
  height: 20vh;
  font-family: cursive;
  padding: 1rem 1rem;
}

.user_pic {
  width: 15%;
  z-index: 10;
  height: 20vh;
}

.see_more {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  z-index: 10000;
  color: #f4eaf6;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* THIS creates the animation! */
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.slider {
  max-width: 100rem;
  position: relative;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  /* IN THE END */
  overflow: hidden;
}

.slider__btn {
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #0e0d0d;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column-align: center;
      justify-self: center;
}

.slider__btn--left {
  left: 6%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  margin-left: 3rem;
}

@media (max-width: 1116px) {
  .video {
    width: 100%;
    background-size: cover;
    position: relative;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100vh;
  }
}

.story {
  color: cornsilk;
  grid-column: 1/-1;
  display: -ms-grid;
  display: grid;
}

.story_heading {
  font-size: 40px;
  color: black;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #ffc8f4;
  padding: 0.3rem 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: rotateX(5deg);
          transform: rotateX(5deg);
  margin-bottom: 10rem;
  margin-top: 10rem;
}

.hm {
  color: #ffc8f4;
  background-color: black;
}

.story_img {
  width: 10rem;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 200px;
}

.couple_story {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: auto;
  background-color: #f6efee;
  -webkit-box-shadow: 0px 2rem 2rem black;
          box-shadow: 0px 2rem 2rem black;
}

.date {
  font-size: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.name {
  color: black;
  font-size: 20px;
}

.story_lines {
  color: black;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem 1rem;
}

.hidden {
  overflow: hidden;
  opacity: 0;
}

.stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  gap: 2rem;
  margin-right: 5rem;
}

.footers {
  background-image: url(/img/23294.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  color: bisque;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  grid-row: 5/-1;
  -ms-grid-rows: 20vh 40vh 10vh;
      grid-template-rows: 20vh 40vh 10vh;
  -ms-grid-columns: 10vw 1fr 10vw;
      grid-template-columns: 10vw 1fr 10vw;
  margin-top: 5rem;
}

.navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.navi-list {
  padding: 2rem;
  list-style: none;
}

.navi-btn {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: gold;
  font-weight: bolder;
  display: block;
  text-decoration: none;
}

.navi-btn:hover {
  background: #fffdfd;
  color: goldenrod;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  -webkit-transform: scale(1.35) rotate(5deg);
          transform: scale(1.35) rotate(5deg);
}

.paragraph-f {
  justify-self: flex-end;
  margin-left: 12rem;
  display: block;
  color: #fdfafa;
  font-size: 20px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 830px) {
  .footers {
    margin-top: 15rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 70%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.2;
  font-size: 15px;
  font-weight: 500;
  background-color: #f4eaf6;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 120vh 70vh 160vh 110vh 80vh;
      grid-template-rows: 120vh 70vh 160vh 110vh 80vh;
  -ms-grid-columns: (minmax(15rem, 1fr))[5];
      grid-template-columns: repeat(5, minmax(15rem, 1fr));
}

@media (max-width: 828px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 90vh 70vh 160vh 80vh 80vh;
        grid-template-rows: 90vh 70vh 160vh 80vh 80vh;
  }
}
/*# sourceMappingURL=main.css.map */