.story {
  //@at-root background-color: brown;
  color: cornsilk;
  grid-column: 1/-1;
  display: grid;

  // grid-template-columns: 10vw 20vw 30vw 30vw 15vw;
  // grid-template-rows: 10vh repeat(6, 20vh);
  // grid-gap: 15px;
  // padding-top: 3rem;
  // grid-template-columns: repeat(auto-fit, minmax(auto-fit, 1fr));
  &_heading {
    font-size: 40px;
    color: black;
    //grid-column: 3/4;
    justify-self: center;
    background-color: #ffc8f4;
    padding: 0.3rem 2rem;
    align-self: center;
    transform: rotateX(5deg);
    margin-bottom: 10rem;
    margin-top: 10rem;
  }
}
.hm {
  color: #ffc8f4;
  background-color: black;
} //button

.story_img {
  width: 10rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 200px;
}


.couple_story {
  align-self: flex-start;
  width: auto;
  background-color: #f6efee;
  box-shadow: 0px 2rem 2rem black;
}

.date {
  font-size: 20px;
  align-self: flex-end;
}
.name {
  color: black;
  font-size: 20px;
}
.story_lines {
  color: black;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem 1rem;
}
.hidden {
  overflow: hidden;
  opacity: 0;
}
.stories {
  display: flex;
  grid-column: 2/4;
  gap: 2rem;
  margin-right: 5rem;
}
