.story {
  //@at-root background-color: brown;
  color: cornsilk;
  grid-column: 1/-1;
  display: grid;
  background-color: #f4eaf6;
  grid-template-columns: 10vw 20vw 30vw 30vw 15vw;
  grid-template-rows: 10vh repeat(6, 20vh);
  grid-gap: 15px;
  padding-top: 3rem;

  &_heading {
    font-size: 40px;
    color: black;
    grid-column: 3/4;
    justify-self: center;
    background-color: #ffc8f4;
    padding: 0.3rem 2rem;
    align-self: center;
    transform: rotateX(5deg);
    margin-bottom: 10rem;
    margin-top: 10rem;
  }
}
.hm {
  color: #ffc8f4;
  background-color: black;
} //button

.couple_img {
  object-fit: cover;
}
.story_img {
  width: 100%;
  object-fit: cover;
  border-radius: 200px;
  height: 40vh;
}
.couple_img-1 {
  grid-row: 2/3;
  grid-column: 2/3;
}
.couple_img-2 {
  grid-column: 2/3;
  grid-row: 4/6;
  height: 50vh;
}
.couple_img-3 {
  grid-column: 2/3;
  grid-row: 6/6;
  object-fit: cover;
}
.height_img {
  height: 40vh;
}
.couple_story {
  align-self: center;
}

.couple_story1 {
  grid-row: 2/4;
  grid-column: 3/5;
  background-color: #f6efee;
  box-shadow: 0px 2rem 2rem black;
}

.couple_story2 {
  grid-row: 4/6;
  grid-column: 3/5;
  background-color: #f6efee;
  box-shadow: 0px 2rem 2rem black;
}
.couple_story3 {
  grid-row: 6/-1;
  grid-column: 3/5;
  background-color: #f6efee;
  box-shadow: 0px 2rem 2rem black;
}
.date {
  font-size: 20px;
  align-self: flex-end;
}
.name {
  color: black;
  font-size: 20px;
}
.story_lines {
  color: black;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem 1rem;
}
.hidden {
  overflow: hidden;
  opacity: 0;
}


